.availability {
  padding: 20px;
  text-align: center;
  margin: 70px;
}

.organizer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px; /* Space between cards */
  margin: 20px;
}

.organizer-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.organizer-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.organizer-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.organizer-content {
  padding: 20px;
  text-align: center;
}

.organizer-content h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.organizer-content p {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.book-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.book-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
